<div class="container">
  <div class="row filters" >
      <div class="col col-lg-3  ">
          <div class="h-100">
          <button class="btn btn-outline-info btn-sm btn-block  Chettier" type="button" data-toggle="collapse" data-target="#multiCollapseExample" aria-expanded="false" aria-controls="multiCollapseExample2">Chettier Sangam</button>
              <div class="collapse" id="multiCollapseExample">
                <div class="card card-body">
                      <div class="checkbox">
                        <label><input type="checkbox" value="Pillayar kovil Sangam"><small> Pillayar Kovil Sangam</small>  </label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value=""><small> Parys Chettiyar Sangam </small></label>
                      </div>
                      <div class="checkbox ">
                        <label><input type="checkbox" value="" ><small> Redhills Chettiyar Sangam </small></label>
                      </div>          
                </div>
              </div>

              <button class="btn btn-outline-info btn-sm btn-block Chettier" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Vanniyar Sangam</button>
              <div class="collapse" id="multiCollapseExample2">
                  <div class="card card-body">
                      <div class="checkbox">
                        <label><input type="checkbox" value="Pillayar kovil Sangam"><small> Vanniyar Pillayar Kovil Sangam</small>  </label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value=""><small> Parys Vanniyar Sangam </small></label>
                      </div>
                      <div class="checkbox ">
                        <label><input type="checkbox" value="" ><small> Redhills Vanniyar Sangam </small></label>
                      </div>          
                 </div>
              </div> 

              <button class="btn btn-outline-info btn-sm btn-block Chettier" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Kurathi Sangam</button>
              <div class="collapse" id="multiCollapseExample2">
                  <div class="card card-body">
                      <div class="checkbox">
                        <label><input type="checkbox" value="Pillayar kovil Sangam"><small> kurathi Pillayar Kovil Sangam</small>  </label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value=""><small> Parys kurathi Sangam </small></label>
                      </div>
                      <div class="checkbox ">
                        <label><input type="checkbox" value="" ><small> Redhills kurathi Sangam </small></label>
                      </div>          
                 </div>
              </div> 

              <button class="btn btn-outline-info btn-sm btn-block Chettier" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Age</button>
              <div class="collapse" id="multiCollapseExample2">
                  <div class="card card-body">
                      <div class="rangeslider">
                          <input class="min" name="range_1" type="range" min="1" max="50" value="10" />
                          <input class="max" name="range_1" type="range" min="1" max="50" value="40" />
                          <!-- <span class="range_min light left">10.000 €</span>
                          <span class="range_max light right">40.000 €</span> -->
                      </div>    
                 </div>
              </div> 

              </div>  
      </div>

    <div class="col col-lg-8 " > <!-- *ngFor="let hero of heroes" -->
      <div class="card cards shadows">
        <div class="row  ">
          <h6 class="name"> Daniel Mathew</h6>
          <h6>-</h6>
          <h6 class="id">ID123456</h6>
          <button type="button" class="close" aria-label="Close" data-toggle="tooltip" data-placement="right"
            title="Removed this Profile">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <hr>

        <div class="row ">
          <div class="col-6 col-sm-4">
            <img src="/assets/images/image.jpg" class="rounded-top img-fluid" alt="Sample image">
            <br>
            <button type="button" class="btn btn-outline-success btn-sm btn-block successb">Send Interest</button>
          </div>
          <div class="col-6 col-sm-7 smalltext">
            <div class="row ">
              <div class="col-6 col-sm-4 ">
                <small>
                  <b> Age:</b> <br>
                  <b> Religion:</b> <br>
                  <b> Rassi:</b> <br>
                  <b> Caste:</b> <br>
                  <b> Height: </b> 5ft 2in <br>
                  <b> Eduction:</b><br>
                  <b> Location:</b> <br>
                  <b> Marital Status:</b>
                  <b> Profession:</b> <br>
                </small>
              </div>
              <div class="col-6 col-sm-8 ">
                <small>
                  24<br>
                  Muslim<br>
                  Thulam<br>
                  Rachbandhiya (Caste No Bar)<br>
                  <b>Weight:</b> 55 kg <br>
                  B.Tech (IT)<br>
                  Chennai, TamilNadu, India<br>
                  Never Married<br>
                  Senior Software Developer<br>
                </small>
              </div>
            </div>
          </div>

          <div class="row  ">
            <div class="col-6 col-sm-2">
              <img src="assets/icons/tick.png" height="35" class="icon">
              <br>
              <img src="assets/icons/phone.png" height="35" class="icon">
              <br>
              <img src="assets/icons/view.png" height="35" class="icon">
              <br>
              <img src="assets/icons/horscope.png" height="35" class="icon">
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="row ">
    <div class="col-3 test">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
      </div>
    </div>
    <div class="col-9 test">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
      </div>
    </div>
  </div> -->

